body {
  background: #222;
  color: #fff;
  font-family: Verdana, sans-serif;
  font-size: 12px;
}

a {
  color: #fff;
  text-decoration: none;
}

header h1 {
  font-family: 'Asap', sans-serif;
  margin: 0 auto;
}
